@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Poppins:wght@600&display=swap');

body {
 font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}

.name-highlight {
  color: #fb6856;
}

.first-half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}

.first-half-width img {
  width: 100%;
}

section {
  height: 500px;
}

.top-banner {
  background-image: url('./images/top-banner.png');
  background-repeat: no-repeat;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(45deg, lightSalmon, #fb6856);
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.bottom-banner {
  background-image: url('./images/dream-bg.png');
  background-repeat: no-repeat;
  background-position: right;
}

.second-half-width {
  width: 40%;
  float: right;
  margin-right: 5%;
  padding-right: 2%;
}

.second-half-width img {
  width: 100%;
}
